<h1> Project 1: Airlines Delays </h1>

In [2]:
import pandas as pd

df=pd.read_csv('/Users/mars/Downloads/Local/Flights.csv') #read file and view dataframe
print(df)

  Unnamed: 0 Unnamed: 1  Los Angeles  Phoenix  San Diego  San Francisco  \
0     Alaska    On time        497.0    221.0      212.0          503.0
1        NaN    Delayed         62.0     12.0       20.0          102.0
2        NaN        NaN          NaN      NaN        NaN            NaN
3    AM West    On time        694.0   4840.0      383.0          320.0
4        NaN    Delayed        117.0    415.0       65.0          129.0
5        NaN        NaN          NaN      NaN        NaN            NaN
6        NaN        NaN          NaN      NaN        NaN            NaN
7        NaN        NaN          NaN      NaN        NaN            NaN
8        NaN        NaN          NaN      NaN        NaN            NaN

   Seattle
0   1841.0
1    305.0
2      NaN
3    201.0
4     61.0
5      NaN
6      NaN
7      NaN
8      NaN

<h4>Because of the way the file was created originally, there is a lot of empty data. In this part, 
we can get rid of all the NaN values that are not needed.</h4>

In [35]:
df.rename(columns={'Unnamed: 0':'Airline', 'Unnamed: 1': 'Status'}, inplace=True) #Rename unnamed columns
print(df)
df.dropna(thresh=2,inplace=True) #remove rows with more than 2 NaN values

   Airline   Status  Los Angeles  Phoenix  San Diego  San Francisco  Seattle  \
0   Alaska  On time        497.0    221.0      212.0          503.0   1841.0
1      NaN  Delayed         62.0     12.0       20.0          102.0    305.0
2      NaN      NaN          NaN      NaN        NaN            NaN      NaN
3  AM West  On time        694.0   4840.0      383.0          320.0    201.0
4      NaN  Delayed        117.0    415.0       65.0          129.0     61.0
5      NaN      NaN          NaN      NaN        NaN            NaN      NaN
6      NaN      NaN          NaN      NaN        NaN            NaN      NaN
7      NaN      NaN          NaN      NaN        NaN            NaN      NaN
8      NaN      NaN          NaN      NaN        NaN            NaN      NaN

      sum
0  3274.0
1   501.0
2     0.0
3  6438.0
4   787.0
5     0.0
6     0.0
7     0.0
8     0.0

In [38]:
row_list=list(df) #list all the column names
print(row_list) 

row_list.remove('Airline') #remove the non-numeric rows to perform addition
row_list.remove('Status')
print(row_list) #verify changes

['Airline', 'Status', 'Los Angeles', 'Phoenix', 'San Diego', 'San Francisco', 'Seattle', 'sum']
['Los Angeles', 'Phoenix', 'San Diego', 'San Francisco', 'Seattle', 'sum']

<h4>Now that the dataframe looks cleaner and easier to work with, we can analyze the data.</h4>

In [37]:
df["sum"] = df[row_list].sum(axis=1) #sum of all the rows
print(df)

   Airline   Status  Los Angeles  Phoenix  San Diego  San Francisco  Seattle  \
0   Alaska  On time        497.0    221.0      212.0          503.0   1841.0
1      NaN  Delayed         62.0     12.0       20.0          102.0    305.0
3  AM West  On time        694.0   4840.0      383.0          320.0    201.0
4      NaN  Delayed        117.0    415.0       65.0          129.0     61.0

       sum
0   6548.0
1   1002.0
3  12876.0
4   1574.0

<h3>Now, by checking the sum of all the delays by airline, we can see that AM West has more delayed flights than Alaska by comparing rows 1 and 4.</h3>